// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header-main {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) ), url('contacts-home-unsplash.jpg');
  background-size: 100%;
}


.home-header {
  color: white;
  position: relative;
  bottom: 90px;
}

.home-desc {
  color: white;
  position: relative;
  bottom: 50px;
}
